{% extends "base.html" %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ресурс/Редактирование</h3>
                </div>
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'tresource-add' %}">
                        <button type="button" class="btn btn-info ">+Тип ресурсов</button>
                    </a>
                    <a href="{% url 'unitm-add' %}">
                        <button type="button" class="btn btn-info">+ Единицу измерений</button>
                    </a>
                    <a href="{% url 'resource-list' %}">
                        <button type="button" class="btn btn-danger col-md-offset-4">Отменить</button>
                    </a>
                    <button type="submit" class="btn btn-primary ">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}