{% extends "base.html" %}
{% block title %}Department|List{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Отделы/Список({{ departments.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if departments %}
                            <ul class="list-unstyled list-group">
                                {% for department in departments %}
                                    <li class="list-group-item">
                                        <h4>{{ department.name }}</h4>

                                        <a class="btn btn-danger btn-xs compon_glyphicon"
                                           href="{% url 'department-delete' department.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-info btn-xs compon_glyphicon"
                                           href="{% url 'department-edit' department.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <div>
                                            <mark class="text-muted">{% with enterprise=department.enterprise.name %}
                                                {{ enterprise }}{% endwith %}
                                            </mark>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no department in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'department-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

