{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="topheader">
        <div>
            <h1>Отделы</h1>
        </div>
        <div>
            <a href="{% url 'department-add' %}"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <hr/>
    {% if departments %}
        <ul class="list-unstyled list-group">
            {% for department in departments %}
                <li class="list-group-item">
                    <a href="{% url 'department-detail' department.id %}">{{ department.name }}</a>

                    <a class="btn btn-default btn-xs compon_glyphicon"
                       href="{% url 'department-delete' department.id %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="btn btn-default btn-xs compon_glyphicon" href="{% url 'department-edit' department.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <span class="badge badge_pos">{{ department.id }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no department in the app.</p>
    {% endif %}
{% endblock %}