{% extends "base.html" %}
{% block title %}Business Process Group|List
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Группы бизнес-процессов/Список({{ bpgroups.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if bpgroups %}
                            <ul class="list-unstyled list-group">
                                {% for bpgroup in bpgroups %}
                                    <li class="list-group-item">
                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'bpgroup-delete' bpgroup.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'bpgroup-edit' bpgroup.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <h4>{{ bpgroup.name }}</h4>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no business process group in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'bpgroup-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}