{% extends "base.html" %}
{% block title %}Cost Work Work|List{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Анализ стоимостей
                        работ/Список({{ cost_works.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if cost_works %}
                            <ul class="list-unstyled list-group">
                                {% for cost_work in cost_works %}
                                    {#                                    {% for bp in bps %}#}
                                    <li class="list-group-item">
                                        <a class="btn btn-danger btn-xs compon_glyphicon"
                                           href="{% url 'cost_works-delete' cost_work.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-info btn-xs compon_glyphicon"
                                           href="{% url 'cost_works-edit' cost_work.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        {#                                        <a class="btn btn-default btn-xs compon_glyphicon"#}
                                        {#                                           href="{% url 'cost_work-detail'  %}">#}
                                        {#                                            <span class="glyphicon glyphicon-th-list"></span>#}
                                        {#                                         </a>#}
                                        <h4>{% with work=cost_work.work.name %}
                                            {{ work }}{% endwith %}</h4>
                                        <div class="col-md-offset-1">
                                            {% with ap=cost_work.time.id %}Анализ процессов №
                                                <b>{{ ap }}</b>{% endwith %}
                                        </div>
                                        <small class="col-md-offset-10">
                                            Стоимость: <b>{{ cost_work.cost_work }}</b>
                                        </small>
                                        <br>
                                        <small class="col-md-offset-9">
                                            Продолжительность: <b>{{ cost_work.duration }}</b>
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no analysis cost in the app.</p>
                        {% endif %}
                    </div>

                    <div class="panel-footer">
                        <a href="{% url 'cost_works-add' %}">
                            <button type="button" class="btn btn-info">Добавить</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}