{% extends "base.html" %}
{% block title %}Analysis Importance Works|Detail
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Анализ:<b><a
                    href="{% url 'analysis-list' %}">
                {% with analysis_desc=analysis_process.analysis.description analysis_id=analysis_process.analysis.id %}
                    {{ analysis_desc }}({{ analysis_id }}){% endwith %}</a></b>
                Бизнес-процесс:<b><a href="{% url 'bp-list' %}">
                    {% with total=analysis_process.process %}{{ total }}{% endwith %}</a></b></h3>
        </div>
        <div class="panel-body">
            <form method="post">
                <div class="box-scroll" style="height: 430px;overflow-x: hidden; overflow-y: hidden;">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-fixed table-striped">
                        <thead>
                        <tr>
                            <th style="width:25%;">№</th>
                            <th style="width:25%;">Название работы</th>
                            <th style="width:25%;">Элементная значимость</th>
                            <th style="width:25%;">Обьектная значимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#                        {% load index %}#}
                        {% for form in formset %}
                            {% for work in bpwork %}
                                <tr>
                                    <td style="width:25%;">{{ forloop.counter }}</td>
                                    <td style="width:25%;">
                                        {#                                        {% with next_work=bpwork|index:forloop.counter0 %}{{ next_work }}{% endwith %}#}
                                        {#                                        |get_at_index:forloop.counter0#}
                                        {{ form.work.forloop.counter }}
                                    </td>
                                    <td style="width:25%;">
                                        {{ form.elemental_importance }}
                                    </td>
                                    <td style="width:25%;">
                                        {{ form.object_importance }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'analysis_process-list' %}">
                        <button type="button" class="btn btn-danger col-md-offset-9">Отменить
                        </button>
                    </a>
                    <a href="">
                        <button type="submit" class="btn btn-primary ">Подтвердить</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

