{% extends "base.html" %}
{% block title %}Analysis Process|List{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Анализ процессов/Список({{ analyses_process.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if analyses_process %}
                            <ul class="list-unstyled list-group">
                                {% for analysis_process in analyses_process %}
                                    <li class="list-group-item">
                                        <a class="btn btn-danger btn-xs compon_glyphicon" data-toggle="tooltip"
                                           data-placement="top" title="Удалить"
                                           href="{% url 'analysis_process-delete' analysis_process.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-info btn-xs compon_glyphicon" data-toggle="tooltip"
                                           data-placement="top" title="Список работ"
                                           href="{% url 'analysis_process-detail' analysis_process.id %}">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </a>
                                        {% if not analysis_process.is_active_cost %}
                                            <a class="btn btn-primary btn-xs compon_glyphicon" data-toggle="tooltip"
                                               data-placement="top" title="Провести анализ затрат"
                                               href="{% url 'analysis_process-make' analysis_process.id %}">
                                                <span class="glyphicon glyphicon-euro"></span>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-success disabled btn-xs compon_glyphicon"
                                               data-toggle="tooltip"
                                               data-placement="top" title="Анализ проведен"
                                               href="">
                                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                                            </a>
                                        {% endif %}
                                        {% if not analysis_process.is_active_importance %}
                                            <a class="btn btn-primary btn-xs compon_glyphicon" data-toggle="tooltip"
                                               data-placement="top" title="Провести анализ значимости работ"
                                               href="{% url 'analysis_importance_works' analysis_process.id %}">
                                                <span class="glyphicon glyphicon-signal"></span>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-success disabled btn-xs compon_glyphicon"
                                               data-toggle="tooltip"
                                               data-placement="top" title="Анализ проведен"
                                               href="">
                                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                                            </a>
                                        {% endif %}
                                        <h4>{% with process=analysis_process.process.name %}
                                            {{ process }}(id: {{ analysis_process.id }}){% endwith %}</h4>
                                        <div class="col-md-offset-1">
                                            {% with analysis=analysis_process.analysis.id %}Анализ:
                                                <b>{{ analysis }}</b>{% endwith %}
                                            <br>
                                            {% with process=analysis_process.process.name %}Процесс:
                                                <b>{{ process }}</b>{% endwith %}
                                        </div>
                                    </li>
                                    {#                                    {% endfor %}#}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no analysis process in the app.</p>
                        {% endif %}
                    </div>

                    <div class="panel-footer">
                        <a href="{% url 'analysis_process-add' %}">
                            <button type="button" class="btn btn-info">Добавить</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}