{% extends "base.html" %}
{% block title %}Analysis Process|Detail
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Анализ:<b><a
                    href="{% url 'analysis-list' %}">
                {% with analysis_desc=analysis_process.analysis.description analysis_id=analysis_process.analysis.id %}
                    {{ analysis_desc }}({{ analysis_id }}){% endwith %}</a></b>
                Бизнес-процесс:<b><a href="{% url 'bp-list' %}">
                    {% with total=analysis_process.process %}{{ total }}{% endwith %}</a></b></h3>
        </div>
        <div class="panel-body">
            <div class="box-scroll" style="height: 430px;overflow-x: hidden; overflow-y: hidden;">
                {{ form.management_form }}
                <table class="table table-fixed table-striped">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Название работы</th>
                        <th>Вид</th>
                        <th>Стоимость</th>
                        <th>Продолжительность</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formset %}
                        {% for work in bpwork %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ work }}
                                </td>
                                <td>
                                    {{ form.kind }}
                                </td>
                                <td>
                                    {{ form.cost_work }}
                                </td>
                                <td>
                                    {{ form.duration }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a href="{% url 'analysis_process-list' %}">
                <button type="button" class="btn btn-danger col-md-offset-9">Отменить
                </button>
            </a>
            <a href="{% url 'bpwork-add' %}">
                <button type="submit" class="btn btn-primary ">Подтвердить</button>
            </a>
        </div>
    </div>
{% endblock %}

