{% extends "base.html" %}
{% block title %}ABC|Costs Work
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Анализ выявил наиболее затратные работы:</b>
        </div>
        {% load static %}
        <script type="text/javascript" src="{% static "js/fusioncharts.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/themes/fusioncharts.theme.fint.js" %}"></script>
        <div class="panel-body">
            <div class="box-scroll" style="height: 400px;">
                <div class="col-md-6">

                    <div id="chart-1">{{ output|safe }}</div>
                </div>
                <div class="col-md-offset-8">
                    {% if bp_work %}
                        <ul class="list-unstyled list-group">
                            {% for work in bp_work %}
                                <li class="list-group-item">
                                    <h5>{{ forloop.counter }}.{{ work }}({{ work.cost_work }})</h5>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <a href="{% url 'analysis_process-list' %}">
                <button type="button" class="btn btn-danger col-md-offset-9">Назад</button>
            </a>
            <a>
{#                #отчет по рекомендациям#}
                <button type="button" class="btn btn-primary">Продолжить анализ</button>
            </a>
        </div>
    </div>

{% endblock %}

