{% extends "base.html" %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Единицы измерений/Список({{ unitms.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if unitms %}
                            <ul class="list-unstyled list-group">
                                {% for unitm in unitms %}
                                    <li class="list-group-item">

                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'unitm-delete' unitm.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'unitm-edit' unitm.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <h4>{{ unitm.name }}</h4>
                                        {#                                        <span class="badge badge_pos">{{ unitm.id }}</span>#}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no unit measure in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'unitm-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

