{% extends "base.html" %}
{% block title %}<title>Business Process|Expenses</title>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ bp.name }}/Затраты на выполнение функций</h3>
        </div>
        <table class="table table-fixed table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Название работы</th>
                <th>Уровень</th>
                <th>Родительская работа</th>
            </tr>
            </thead>
            <tbody>
            {% for bpwork in bpworks reversed %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bpwork.name }}</td>
                    <td>{{ bpwork.level }}</td>
                    <td>{{ bpwork.parent|upper }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="cos-xs-12" colspan="5">No data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="panel-footer">
            <a href="#">
                <button type="button" class="btn btn-success">Сформировать затраты</button>
            </a>
            <a href="{% url 'bp-detail' bp.id %}">
                <button type="button" class="btn btn-danger col-md-offset-7">Отменить
                </button>
            </a>
            <a href="{% url 'bpwork-add' %}">
                <button type="submit" class="btn btn-primary ">Добавить</button>
            </a>
        </div>
    </div>
{% endblock %}

{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            $("#grid").shieldGrid({#}
{#                dataSource: {#}
{#                    data: gridData,#}
{#                    schema: {#}
{#                        fields: {#}
{#                            id: {path: "id", type: Number},#}
{#                            age: {path: "age", type: Number},#}
{#                            name: {path: "name", type: String},#}
{#                            company: {path: "company", type: String},#}
{#                            month: {path: "month", type: Date},#}
{#                            isActive: {path: "isActive", type: Boolean},#}
{#                            email: {path: "email", type: String},#}
{#                            transport: {path: "transport", type: String}#}
{#                        }#}
{#                    }#}
{#                },#}
{#                sorting: {#}
{#                    multiple: true#}
{#                },#}
{#                rowHover: false,#}
{#                columns: [#}
{#                    {field: "name", title: "Person Name", width: "120px"},#}
{#                    {field: "age", title: "Age", width: "80px"},#}
{#                    {field: "company", title: "Company Name"},#}
{#                    {field: "month", title: "Date of Birth", format: "{0:MM/dd/yyyy}", width: "120px"},#}
{#                    {field: "isActive", title: "Active"},#}
{#                    {field: "email", title: "Email Address", width: "250px"},#}
{#                    {field: "transport", title: "Custom Editor", width: "120px", editor: myCustomEditor},#}
{#                    {#}
{#                        width: "104px",#}
{#                        title: "Delete Column",#}
{#                        buttons: [#}
{#                            {#}
{#                                cls: "deleteButton",#}
{#                                commandName: "delete",#}
{#                                caption: "<img src='http://www.prepbootstrap.com/Content/images/template/BootstrapEditableGrid/delete.png' /><span>Delete</span>"#}
{#                            }#}
{#                        ]#}
{#                    }#}
{#                ],#}
{#                editing: {#}
{#                    enabled: true,#}
{#                    event: "click",#}
{#                    type: "cell",#}
{#                    confirmation: {#}
{#                        "delete": {#}
{#                            enabled: true,#}
{#                            template: function (item) {#}
{#                                return "Delete row with ID = " + item.id#}
{#                            }#}
{#                        }#}
{#                    }#}
{#                },#}
{#                events: {#}
{#                    getCustomEditorValue: function (e) {#}
{#                        e.value = $("#dropdown").swidget().value();#}
{#                        $("#dropdown").swidget().destroy();#}
{#                    }#}
{#                }#}
{#            });#}
{##}
{#            function myCustomEditor(cell, item) {#}
{#                $('<div id="dropdown"/>')#}
{#                    .appendTo(cell)#}
{#                    .shieldDropDown({#}
{#                        dataSource: {#}
{#                            data: ["motorbike", "car", "truck"]#}
{#                        },#}
{#                        value: !item["transport"] ? null : item["transport"].toString()#}
{#                    }).swidget().focus();#}
{#            }#}
{#        });#}
{#    </script>#}
{##}
{#    <style type="text/css">#}
{#        .sui-button-cell {#}
{#            text-align: center;#}
{#        }#}
{##}
{#        .sui-checkbox {#}
{#            font-size: 17px !important;#}
{#            padding-bottom: 4px !important;#}
{#        }#}
{##}
{#        .deleteButton img {#}
{#            margin-right: 5px;#}
{#            vertical-align: bottom;#}
{#        }#}
{##}
{#        .bigicon {#}
{#            color: #5CB85C;#}
{#            font-size: 20px;#}
{#        }#}
{#    </style>#}
{##}

