{% extends "base.html" %}

{% block content %}
    <h1>Повышение ефективности бизнес процессов</h1>
    <hr/>
    <p><em>Добро пожаловать</em></p>
    <ul class="list-unstyled list-group">
        <li><strong>Предприятий: </strong> {{ num_enterprise }}</li>
        <li><strong>Бизнес-процессов: </strong> {{ num_bp }}</li>
        <li><strong>Групп бизнес-процессов: </strong> {{ num_bpgroup }}</li>
        <li><strong>Отделов: </strong> {{ num_department }}</li>
        <li><strong>Должностей сотрудников: </strong> {{ num_position }}</li>
        <li><strong>Сотрудников: </strong>{{ num_employee }}</li>
        <li><strong>Исполнителей процессов: </strong> {{ num_procexec }}</li>
        <li><strong>Типов стрелок: </strong> {{ num_atype }}</li>
        <li><strong>Стрелок: </strong> {{ num_arrowgloss }}</li>
        <li><strong>Работ бизнес-процесса:</strong> {{ num_bpwork }}</li>
        <li><strong>Типов ресурсов:</strong> {{ num_tresource }}</li>
        <li><strong>Шкал измерений:</strong> {{ num_mscale }}</li>
        <li><strong>Единиц измерения:</strong> {{ num_unitm }}</li>
        <li><strong>Ресурсы:</strong> {{ num_resource }}</li>
        <li><strong>Работа-Ресурсы:</strong> {{ num_wresource }}</li>


    </ul>
{% endblock %}