{% extends "base.html" %}
{% block title %}Employee|List{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Сотрудники/Список({{ employees.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if employees %}
                            <ul class="list-unstyled list-group">
                                {% for employee in employees %}
                                    <li class="list-group-item">
                                        <div class="text-right">
                                            <small>
                                                {% for position in employee.position_employee.name %}
                                                    {{ position }} {% endfor %}
                                            </small>
                                        </div>
                                        <h4>{{ employee.last_name }} {{ employee.first_name }} {{ employee.patronymic }}</h4>
                                        <mark class="text-muted">
                                            Отдел: {% for dep in employee.department.name %}{{ dep }}{% endfor %}</mark>
                                        <a class="btn btn-danger btn-xs compon_glyphicon"
                                           href="{% url 'employee-delete' employee.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-info btn-xs compon_glyphicon"
                                           href="{% url 'employee-edit' employee.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>

                                    </li>

                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no employee in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'employee-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
