{% extends "base.html" %}
{% block title %}Process Executor|List
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Исполнители процессов/Список({{ procexecs.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="box-scroll">
                        {% if procexecs %}
                            <ul class="list-unstyled list-group">
                                {% for procexec in procexecs %}
                                    <li class="list-group-item">
                                        <h4>{{ procexec.employee }}</h4>
                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'procexec-delete' procexec.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs compon_glyphicon"
                                           href="{% url 'procexec-edit' procexec.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <div class="col-md-offset-1">
                                            <p>Отдел: {% for dep in procexec.department.name %}{{ dep }}{% endfor %}</p>
                                            <p>Бизнес-процесс:
                                                {% for bp in procexec.business_process.name %}{{ bp }}{% endfor %}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no process executors in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'procexec-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

