{% extends "app/base.html" %}
{% block content %}
    <div class="topheader">
        <div>
            <h1>Анализ бизнес-процессов</h1>
        </div>
        <div>
            <a href=""><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <hr/>
    <div class="list-group">
        {% if analysis %}
            <ul class="list-unstyled">
                {% for analysis in analysis %}
                    <li>
                        <a href="#">{{ analysis.description }} - {{ analysis.create_at }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no analysis in the app.</p>
        {% endif %}
    </div>
{% endblock %}
