{% extends "app/base.html" %}

{% block content %}
    <div class="topheader">
        <div>
            <h1>Список бизнес-процесов</h1>
        </div>
        <div>
            <a href=""><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <hr/>
    {% if business_proceses %}
        <ul class="list-unstyled">
            {% for business_process in business_proceses %}
                <li>
                    <a href="{% url 'business_process_detail' business_process.id %}">{{ business_process.name }}</a>
                    ({{ business_process.id }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no business process in the app.</p>
    {% endif %}
{% endblock %}