{% extends "base.html" %}
{% block title %} Business Process Work|List
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Работы бизнес-процессов/Список({{ bpworks.count }})</h3>
                </div>
                <div class="panel-body">
                    <div class="input-search">
                        <input type="text" id="myInput" onkeyup="myFunctionFilter()" placeholder="Search for names..">
                    </div>
                    <div class="box-scroll" style="height: 370px">
                        {% if bpworks %}
                            <ul id="myUl" class="list-unstyled list-group">
                                {% for bpwork in bpworks reversed %}
                                    <li class="list-group-item">
                                        <div class="md-1" style="float: left;">
                                            <small>Уровень: {{ bpwork.level }}
                                            </small>
                                        </div>
                                        <div class="md-1" style="float: right; ">
                                            <small>Родительская:
                                                {% with parent=bpwork.parent.name %}{{ parent }}{% endwith %}</small>
                                        </div>
                                        <br>
                                        <a style="text-decoration: none"><h4>{{ bpwork.name }}</h4></a>
                                        <a class="btn btn-danger btn-xs compon_glyphicon"
                                           href="{% url 'bpwork-delete' bpwork.id %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a class="btn btn-info btn-xs compon_glyphicon"
                                           href="{% url 'bpwork-edit' bpwork.id %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <mark class="text-muted">{% with process=bpwork.process.name %}
                                            {{ process }}{% endwith %}
                                        </mark>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no work business process group in the app.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'bpwork-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block extra-js %}
    <script>
        function myFunctionFilter() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUl");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>
{% endblock %}